
      *{
        margin: 0;
        padding: 0;
      }
      body{
        background-color: #f9fafa;
      }
      .container {
        margin-left: 500px;
        justify-content: center;
        margin-right: 100px;
        /* align-items: center; */
        height: 50vh;
      }
      .for-table{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 215px;
      }
     
     
      .image {
        transition: transform .5s;
      }
      .image:hover{
        transform: translateY(-10px);
      }
      #image-me {
        border-radius: 150px;
        opacity: 0.9;

      }
      .items {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        background-color: bisque;
       display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      cursor: pointer;
      margin-left: 20px;
      transition: background-color 1s;


       
      }
      
      .items:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
        font-weight: bold;
      }
      @media screen and (max-width:450px) {
        .image{
            display: flex;
            justify-content: center;
           
        }
        .items{
            float: none;
        }
        .resume-div{
          margin-top: 123px;
        }
        
      }
      .fs-10{
        font-size: 5em;
        font-family: Brush Script MT;
      }
      .d-flex{
        flex-direction: row;
      }
      @media (max-width:770px){
        .d-flex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
           
        }
        .fs-10 {
          text-align: center;
        }
        .for-resume{
          margin-top:30px ;
        }
        .for-center{
          text-align: center;
        }

      }
    @media only screen and (max-width:520px){
    .image{
      margin-top: 50px;

    }
    }
    @media only screen and (max-width:420px) {
      .image{
        margin-top: 100px;
      }
      
    }
    @media only screen and (max-width:350px) {
      .image{
        margin-top: 100px;
      }
      #image-me{
        width: 200px;
        height: 200px;
      }

      .projects{
        width: 100%;
      }
      
    }
    .dropdown-item{
      transition: background .5s;
    }
     .dropdown-item:hover{
      background-color: blanchedalmond;
     }
     .for-navbar-hamburger{
     
   display: none;
      align-items: center;
      justify-content: center;
      margin-top: 250px;
     }
     .for-navbar-hamburger ul{
      list-style-type: none;
      align-items: center;
      justify-items: center;
      margin: 0;
      padding: 0;
     }
     .for-navbar-hamburger ul li{
      margin-top: 15px;
      font-size: 20px;
     }
     .row-item{
      padding: 0;
      margin: 0;
     }
     .for-navbar-hamburger ul li:hover{
      color: orange;
      cursor: pointer;
     }
     .row{
      margin-top: -30px;
     }
    .for-resume-a{
      text-decoration: none;
      color: black;

      
    }
      .w-25{
      margin: 10px auto;
      height: 10px;
      background-color: red;
      border-radius: 10px;
      }
      .projects{
       
        /* background: linear-gradient(red,orange);  */
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(294px , 1fr));
        grid-template-rows: repeat(2 , 1fr); 
         padding: 50px;
         grid-gap: 30px; 
       
  
      }
      .photo{
        /* border: 2px solid black; */
        text-align: center;


        
      }
      .li-item{
        font-weight: bold;
      }
      .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

      }
      label{
        font-weight: bold;
      }
    input , textarea{
      width: 300px;
      border: 3px solid skyblue;
      border-radius: 15px;
    }
   
    